.AzureToolsForIntelliJ
.BZG
.CFUserTextEncoding
.DS_Store
.Rhistory
.Trash
.Xauthority
.anaconda
.android
.ansible
.anyenv
.arduinoIDE
.atom
.aws
.bash_history
.cache
.cache_remix_ide
.cargo
.chpwd-recent-dirs
.cocoapods
.colima
.conda
.condarc
.config
!.config/alacritty
!.config/fish
!.config/helix
!.config/nushell
!.config/zed
!.config/zellij
!.config/starship.toml
.cshrc
.dartServer
.dat
.dat-desktop
.docker
!.docker/config.json
!.docker/daemon.json
!.docker/features.json
.dolt
.dotnet
.emacs.d
.emacs.d.bak
.emulator_console_auth_token
.finch/.disks
.flutter
.flutter-devtools
.gem
.gitkraken
.gradle
.idapro
.ipython
.jssc
.kube
.kuberlr
.lesshst
.lima
!.lima/_config
!.lima/colima/colima.yaml
!.lima/colima/lima.yaml
!.lima/default/lima.yaml
.local
.m2
.minikube
.mysql_history
.netrc
.node_repl_history
.npm
.packettracer
.platformio
.pub-cache
.python_history
.rd
.redhat
.rustup
.spacemacs.env
.ssh
.ssl
.swiftpm
.templateengine
.terminfo
.terraform.d
.thumbnails
.tig_history
.vagrant.d
.vim
.viminfo
.vnc
.wget-hsts
.yarnrc
.zsh_history
.zsh_sessions
Applications
Applications (Parallels)
Cisco Packet Tracer 8.2.0
Desktop
Documents
Downloads
GNS3
Google Drive
Library
Local Sites
Log
Movies
Music
Parallels
Pictures
Postman
Public
Virtual Machines.localized
VirtualBox VMs
ageha734
alacritty
and
dotTraceSnapshots
flutter
getting-started
go
iCloud Drive（アーカイブ）
localstack
nerd-fonts
pandorafms
raspberrypi
server-setting