[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = ageha
	email = 78892525+ageha734@users.noreply.github.com
[color]
	ui = true
[core]
	precomposeunicode = true
	symlinks = true
	pager=delta
[init]
	defaultBranch = master
	templatedir = ~/.git-templates/secrets
[http]
	postBuffer = 524288000
[interactive]
	diffFilter=delta --color-only
[add.interactive]
	useBuiltin=false
[delta]
	navigate=true
	side-by-side=true
[merge]
	conflictstyle=diff3
[diff]
	colorMoved=default